*{
    margin: 0;
    padding: 0;
    
}
body{
    width:100% ;
    height: 100vh;
    background:radial-gradient(#ffffff, #f7b9b9);
    background-position: center;
    background-size: cover;
}
.page{
    width: 500px;
    height: 400px;
    top: 50%;
    left: 64%;
    transform: translate(-50%, -50%);
    background:linear-gradient(#c5d5cb, #9fa8a3, #e3e0cf);
    position: absolute;
   
}
.image{
    width: 400px;
    height: 400px;
    top: 50%;
    left: 34%;
    transform: translate(-50%, -50%);
    background-color: white;
    position: absolute;
    
    margin-left: 20px;

}
.image img{
    margin-left: 40px;
    margin-top: 120px;
    width: 300px;

}
.page h1{
    font-family: sans-serif;
    color: rgb(33, 135, 72);
    margin-top: 60px;
    margin-left: 50px;
}
h1 span{
    color: rgb(25, 136, 205);
}
.lower{
    margin-left: 50px;
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(33, 135, 72);
}
.first{
    width: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border: 1px solid rgb(33, 135, 72) ;
    margin-top: 18px;
    margin-left: 80px;
    border-radius: 5px;
}
.second{
    margin-top: -10;
    margin-left: 80px;
    width: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    padding-left: 5px;
    border: 1px solid rgb(33, 135, 72) ;
}
.third{
    margin-top: 8px;
    margin-left: 80px;
    width: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border: 1px solid rgb(33, 135, 72) ;
    border-radius: 5px;
}.forth{
    border-radius: 5px;
    margin-top: -10px;
    margin-left: 80px;
    width: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border: 1px solid rgb(33, 135, 72) ;
}
.btn{
    margin-top: 20px;
    margin-left: 200px;
    width: 80px;
    height: 30px;
    color: #fff;
    background-color:rgb(33, 135, 72);
    border: none;
    cursor: pointer;
}
